.App {
  text-align: center;
  margin-top: 30px;
}
.App div {
  margin: 0 auto 20px;
  width: 50%;
  display: flex;
  align-items: center;
}
.App label {
  width: 200px;
  margin-right: 20px;
}
.App button {
  margin-left: 15px;
}


